.pModalOpened {
  overflow: hidden;
}
.pBtn {
  background: #ffff;
  border: 1px solid #cacaca;
  border-radius: 5px;
  color: #333230;
  display: inline-block;
  font-family: -apple-system, "Inter", sans-serif;
  font-size: 17px;
  margin: 10px;
  padding: 5px 20px;
  text-decoration: none;
  /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); */
}
.pActionBackground{
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: 0.3s;
  width: 100vw;
  z-index: 5;
}