/* Krrish*/

/* {
    not using this because of transition property but still leaving it if needed for another purpose
}

/* @keyframes la-doc {
    0%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(1.3);
        position: relative;
    }
    
} */

.container {
  position: relative;
  top: 87vh;
  left: 35vw;
  background-color: var(--main-doc-color);
  height: 11vh;
  width: 25vw;
  margin-bottom: 7px;
  transition-property: all;
  transition-duration: 0.3s;
  border-radius: 20px;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 0.3s;
}

/* .container:hover{
      animation: l-doc 0.3s ease-in-out 0s 1  ;
      margin: 0 30px;
      transform: scaleX(1.3);
  
  } */

.container:hover {
  transform: scaleX(1.3) scaleY(1.2);
}

@keyframes toggling {
  0% {
    position: relative;
    bottom: 0%;
  }
  25% {
    position: relative;
    bottom: 2px;
  }
  50% {
    position: relative;
    bottom: 4px;
  }
  75% {
    position: relative;
  }
  100% {
    position: relative;
    bottom: 6px;
  }
}

.item1 {
  background: #3569f2;
  border-radius: 10px;
  height: 7vh;
  width: 4vw;
  position: relative;
  left: 18px;
  top: 1vw;
  transition: all 0.4s;
}
.item2 {
  background: #7e0bae;
  border-radius: 10px;
  height: 7vh;
  width: 4vw;
  position: relative;
  left: 7vw;
  bottom: 5vh;
  transition: all 0.4s;
}
.item1:hover {
  transform: scaleY(1.2) translateY(-20px);
}

.item2:hover {
  transform: scaleY(1.2) translateY(-20px);
}
.item3 {
  background: yellow;
  height: 7vh;
  width: 4vw;
  position: relative;
  left: 10vw;
  top: 2vh;
}

.item3:hover {
  transform: scaleY(1.2) translateY(-20px);
}
.item4 {
  background: blue;
  height: 7vh;
  width: 4vw;
  position: relative;
  left: 3vw;
  bottom: 5vh;
}
.item4:hover {
  transform: scaleY(1.2) translateY(-20px);
}
