*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "San Fransisco";
}
html {
  background-image: url("../public/images/wallpaper.png");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 800;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
@tailwind base;
@tailwind components;
@tailwind utilities;
