*,
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
}
html {
  background-image: url("https://raw.githubusercontent.com/DeadstarIII/MacOsWeb/main/components/images/wallpaper.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

:root {
  --font: -apple-system, "Inter", sans-serif;
  --primary-col-ac: #0f75f5;
  --p-modal-bg: rgba(255, 255, 255, 0.8);
  --p-modal-bd-color: rgba(0, 0, 0, 0.1);
  --p-modal-fallback-color: rgba(255, 255, 255, 0.95);
  --p-actions-static-color: #555761;
  --main-doc-color: rgba(236, 206, 206, 0.722);
}

